# Python
strategy_python/venv/
__pycache__/
*.pyc

# Java (Maven/Gradle)
backend_java/backtester/target/
backend_java/build/
*.class

# IDE
.vscode/
.idea/
*.iml

# Configuration files
**/config.properties    

# Ignore data files
# *.csv
# Ignore Python and Java log files
*.txt
*.log
# Ignore configuration and results
strategy_python/config.json
strategy_python/grid_search_results*.csv